.background {
}

.logo {
	display: flex;
	align-items: center;
	background: transparent;
	border: none;
	column-gap: 5px;
	// color: #000;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: rgba(255, 255, 255, 0.788);
	}
	&:active {
		// color: #000;
		color: #fff;
	}
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.auth {
	display: flex;
	column-gap: 15px;
	button {
		background: transparent;
		border: none;
		font-size: 16px;
		cursor: pointer;
		&:hover {
			color: #666;
			border-bottom: 1px solid #fff;
		}
		&:active {
			color: #fff;
			border: none;
		}
	}
	a {
		color: #fff;
		text-decoration: none;
		background: transparent;
		border: none;
		font-size: 18px;
		cursor: pointer;
		&:hover {
			color: #666;
			border-bottom: 1px solid #fff;
		}
		&:active {
			color: #fff;
			border: none;
		}
	}
}

.user {
	display: flex;
	align-items: center;
}

.avatar {
	margin: 0 0.5em 0 0.3em;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	object-fit: cover;
}

.title {
	font-weight: 800;
}

.leave {
	color: #fff;
	&:hover {
		color: rgba(255, 255, 255, 0.7);
	}
	&:active {
		color: #fff;
	}
}
