.input {
	padding: 10px 15px;
	border-radius: 7px;
	border: 1px solid #000;
	&:hover {
		transform: scale(1.02);
	}
	&:focus {
		transform: scale(1.02);
		border: 2px solid #000;
		outline: none;
	}
}
