.password {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.input {
	width: 100%;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	background: transparent;
	border-bottom: 1px solid #ffffff96;
	color: #fff;
	transition: 0.3s;
  transform: scale(1);
	&:hover {
		border-color: #fff;
    transform: scale(1.01);
	}
	&:focus {
		border-color: #fff;
    transform: scale(1.1);
	}
}

.eye {
	position: absolute;
	display: flex;
	right: 1rem;
	background: transparent;
	font-size: 1.5rem;
	color: #fff;
}
